.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  /*align-items: center;*/
  /*justify-content: center;*/
  height: 100%;
  min-height: 500vh;
}
.main {
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  /*width: 1000px;*/
}


.main-row {
  padding-top: 30px;
  padding-left: 30px;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  width: 100%;
}

.text-middle {
  width: 100%;
  padding-right: 30px;
}

.board-col {
  /*margin-left: 1%;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.headers-row {
  font-size: calc(10px + 2vmin);
}

.annotation {
  color: white;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
}

.date {
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: center;
}

.names {
  display: flex;
  font-size: 30px;
  color: white;
  justify-content: center;
  width: 180px;
}

.height-style {
  height: 60vh;
}
.photos-col {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.player {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-left: 25px;
}

.headers-and-annotation-col {
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 400px;
}

.pl {
  padding-left: 20px;
  width: 200px;
}

